<div id="content-wrapper">
  <form class="form-container">
    <div class="input-wrapper">
      <label for="size">Grid size</label>
      <input [(ngModel)]="size" [ngModelOptions]="{standalone: true}" type="number" min="1" id="size" (input)="validateSize($event)"/>
    </div>
    <div class="input-wrapper">
      <label for="size">Start Position X</label>
      <input [(ngModel)]="coordinateX" [ngModelOptions]="{standalone: true}" type="number" min="0" [max]="size - 1" id="coordinateX" (input)="validateCoordinateX($event)"/>
    </div>
    <div class="input-wrapper">
      <label for="size">Start Position Y</label>
      <input [(ngModel)]="coordinateY" [ngModelOptions]="{standalone: true}" type="number" min="0" [max]="size - 1" id="coordinateY" (input)="validateCoordinateY($event)"/>
    </div>
    <div class="input-wrapper">
      <label for="direction">Start direction</label>
      <select [(ngModel)]="direction" [ngModelOptions]="{standalone: true}" id="direction">
        <option value={{Direction.NORTH}}>North</option>
        <option value={{Direction.EAST}}>East</option>
        <option value={{Direction.SOUTH}}>South</option>
        <option value={{Direction.WEST}}>West</option>
      </select>
    </div>
    <button id="button" (click)="start()">Apply options</button>
  </form>
</div>

