@import "src/assets/styles/variables.scss";
:host {
  height: 100%;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  .toolbar {
    height: 60px;
    background-color: $backgroundColorInverse;
    color: $colorInverse;
    padding-left: $padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content {
    overflow: hidden;
    flex: 1;
  }
  nav {
    li {
      display: inline;
      overflow: hidden;
      a {
        color: $colorInverse;
        text-decoration: none;
        padding: $padding + 2;
        height: 100%;
        &.active {
          background-color: rgba(white, 0.2);
        }
      }
    }
  }
}