@import "src/assets/styles/variables.scss";

:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: $padding;
  .title {
    font-weight: 600;
  }
  #canvas-wrapper {
    width: 100%;
    position: relative;
    #grid-canvas,
    #robot-image-container {
      position: absolute;
      left: 0;
      top: $padding + 1;
    }
    #robot-image-container,
    #robot-image-inner-container {
      width: 100%;
      height: 100%;
    }
    #robot-image-inner-container {
      position: relative;
      #robot-image {
        width: 30px;
        height: 30px;
      }
    }
    #grid-canvas {
      border: 1px solid $canvasLineColor;
      background-color: $canvasBackgroundColor;
    }
  }
}
