html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $color;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}
