$color: #222;
$backgroundColor: #f5f5f5;
$colorInverse: #fff;
$backgroundColorInverse: #283e4a;
$brandPrimary: #0077b5;
$canvasLineColor: #aaa;
$canvasBackgroundColor: #fff;
$padding: 20px;
$paddingLarge: 40px;
$canvasWidth: 600px;
$formWidth: 400px;
$breakpointTablet: 768px;